.main{
    display: flex;
    padding: 2px;
    width: 100%;
}
body{
    background-color: black;
    color: white;
}

input,
.text-area {
    z-index: 1;
   
}

.headline{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
.small{
    padding-inline: 10%;
}
.form{
    margin-left: 10px;
    width: 100%;
}
.map{
    margin-right: 1rem;
    width: 100%;
}
input{
    width: 40%;
    background-color: gray;
    margin-bottom: 3px;
    color:white;
    margin: 2%;
    padding: 2%;
    border-radius: 5%;

}
body, .main {
    height: 100vh;
    margin: 0;
}
input::placeholder, textarea::placeholder {
    color: white;
}
.text-area{
    margin: 2%;
    background-color: grey;
    width: 93%;
    /* border-radius: 6%; */
    align-items: start;
}
.submit{
    width: 20%;
    border-radius: 5px;
    align-items: start;
    margin-left: 5px;
    height: 50px;
}
.map{
    /* border-radius: 8%; */
    margin-left: 2px;
}


.first{
    margin-top: 3px;
    height: 100%;
}